body{
    background-color: gray;
    border: 10px solid black;
    margin: 0px;
}
#main_page{
    background-color: white;
    margin: 100px;
    border: 10px dashed black;
    border-radius: 10px;
}

/* header */
#header_page{
    background-color:whitesmoke;
    position: fixed;
    top: 0px;
    left:0px;
    right: 0px;
    border: 10px solid black;
}
#magnifying_icon{
    width: 30px;
    height: 30px;
    margin: 25px;
    margin-left:200px;
    cursor: pointer; 
    border:5px solid white;
    border-radius: 5px;
}
#magnifying_icon:hover{
    border-color:gray;
}
#moon_icon{
    width: 30px;
    height: 30px;
    margin-top:25px;
    margin-bottom: 25px;
    margin-right: 25px;
    cursor: pointer;
    border:5px solid white;
    border-radius: 5px;
}
#moon_icon:hover{
    border-color:gray;
}
#email_icon{
    width: 30px;
    height: 30px;
    margin-top:25px;
    margin-bottom: 25px;
    margin-right: 25px;
    cursor: pointer;
    border:5px solid white;
    border-radius: 5px;
}
#email_icon:hover{
    border-color:gray;
}
/*navigationbar*/
#navigationbar{
    display: inline-block;
    background-color: white;
    margin-top: 200px;
    width: 500px;
    height: 250px;
    margin-left: 100px;
    border: 10px dashed black;
    border-radius: 10px;
}
#linker{
    text-decoration: none;
}
#text_linker{
    color:gray;
    text-align: center;
    font-size: 50px;
    margin-top: 90px;
}
#title_of_web{
    display: inline-block;
    margin-left: 400px;
    font-size: 50px;
}
#navid{
    color: rgb(235, 203, 18);
    text-shadow: 5px 5px 0px black;
}
#games{
    color: rgb(235, 203, 18);
    text-shadow: 5px 5px 0px black;
}
